# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

client/node_modules/
server/node_modules/

server/src/logs/*
!/server/src/logs/.gitkeep

dist/*
!/dist/.gitkeep
